.logo {
  font-weight: 800;
}

.light-input::placeholder {
  color: #6c757d; /* Bootstrap's default */
}

/* .dark-placeholder::placeholder {
} */
.dark-input::placeholder {
  color: #ccc; /* Light gray for dark backgrounds */
}

.light-input::placeholder {
  color: #333;
}
